[defaults]
# Set inventory !
inventory = inventory/sys-audio.ini
# Official QubesOS qubes_proxy strategy from the qubes-ansible package
# (https://github.com/QubesOS/qubes-ansible). Plays targeting dom0
# (localhost) run locally, plays targeting qubes are proxified through
# their management DispVM.
strategy = qubesos.security.qubes_proxy
