# Based on qusal's policy ( https://github.com/ben-grande/qusal/ )

admin.vm.device.usb.Available * @tag:{{ appvm_sys_audio_tag }} sys-usb allow target=dom0
admin.vm.device.usb.Available * @tag:{{ appvm_sys_audio_tag }} @tag:usbvm allow target=dom0
admin.vm.device.usb.Available * @tag:{{ appvm_sys_audio_tag }} @anyvm deny

admin.vm.device.mic.Available * @tag:{{ appvm_sys_audio_tag }} @adminvm allow target=dom0
admin.vm.device.mic.Available * @anyvm @anyvm deny

admin.Events *                @tag:{{ appvm_sys_audio_tag }}   @adminvm allow target=dom0
admin.Events +domain-start    {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.Events +domain-stopped  {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.Events +domain-shutdown {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.Events +connection-established {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.Events * @tag:{{ appvm_sys_audio_tag }}   @anyvm deny

admin.vm.CurrentState * {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.CurrentState * @tag:{{ appvm_sys_audio_tag }} @adminvm allow target=dom0
admin.vm.CurrentState * @tag:{{ appvm_sys_audio_tag }} @anyvm deny

admin.vm.List * {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.List * @tag:{{ appvm_sys_audio_tag }}   @adminvm allow target=dom0
admin.vm.List * @tag:{{ appvm_sys_audio_tag }}   @anyvm deny

admin.vm.feature.CheckWithTemplate +audio {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.feature.CheckWithTemplate +audio @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.feature.CheckWithTemplate +audio-low-latency {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.feature.CheckWithTemplate +audio-low-latency @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.feature.CheckWithTemplate +audio-model {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.feature.CheckWithTemplate +audio-model @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.feature.CheckWithTemplate +supported-service.pipewire {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.feature.CheckWithTemplate +supported-service.pipewire @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.property.Get +audiovm {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.property.Get +audiovm @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.property.Get +stubdom_xid {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.property.Get +stubdom_xid @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.property.Get +xid {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} allow target=dom0
admin.vm.property.Get +xid @anyvm @tag:{{ appvm_sys_audio_tag }} deny

admin.vm.property.GetAll * {{ appvm_sys_audio }} @tag:{{ appvm_sys_audio_tag }} deny notify=no
admin.vm.property.GetAll * @anyvm @tag:{{ appvm_sys_audio_tag }} deny
